{% extends "langImport/base.html" %}
{% load static %}
{% block content %}
	<h1>About</h1>
	
	<p>The Language Learning website is a language learning tool designed to assist a language learner generate learning content that suits their needs and interests. The goal of this site is to give the language learner controller over the content that they deem relevant and make translating content enjoyable and convenient. The site does not contain structured lessons but rather shared and private content that the users create.</p>
	
	<p>The desigers of the backend are Craig E Carson, Joshua Ray Chapman, and Jeffrey Scott Patton. The front end designer was Corey Teeter as well as Jeffrey Scott Patton</p>

	<p>This website was developed using the following  </p>

	<UL>
		<li>Python and Django</li>
		<li>HTML CSS and JavaScript</li>
		<li>SQL and SQLlite</li>
		<li>Json, PyCharm, Pytesseract, </li>
		<li>PyDictionary, Oxford Dictonary, Google Translate</li>
	</UL>
	
	
		<p>The below PIPs were used for developing this site</p>
		<table>
			<tr>
				<th>Package Name</th>
				<th>Version</th>
			</tr>
			<tr>
				<td>appdirs</td>
				<td>1.4.4</td>
			</tr>
			<tr>
				<td>asgiref</td>
				<td>3.3.4</td>
			</tr>
			<tr>
				<td>beautifulsoup4</td>
				<td>4.9.3</td>

			</tr>
			<tr>
				<td>bs4</td>
				<td>0.0.1</td>
			</tr>
			<tr>
				<td>certifi</td>
				<td>2020.12.5</td>
			</tr>
			<tr>
				<td>cfgv</td>
				<td>3.2.0</td>
			</tr>
			<tr>
				<td>chardet</td>
				<td>4.0.0</td>
			</tr>
			<tr>
				<td>click</td>
				<td>7.1.2</td>
			</tr>
			<tr>
				<td>distlib</td>
				<td>0.3.1</td>
			</tr>
			<tr>
				<td>django</td>
				<td>3.2.1</td>
			</tr>
			<tr>
				<td>filelock</td>
				<td>3.0.12</td>
			</tr>
			<tr>
				<td>futures</td>
				<td>3.1.1</td>
			</tr>
			<tr>
				<td>google-trans-new</td>
				<td>1.1.9</td>
			</tr>
			<tr>
				<td>goslate</td>
				<td>1.5.1</td>
			</tr>
			<tr>
				<td>identify</td>
				<td>2.2.4</td>
			</tr>
			<tr>
				<td>idna</td>
				<td>2.10</td>
			</tr>
			<tr>
				<td>image</td>
				<td>1.5.33</td>
			</tr>
			<tr>
				<td>jsonfield</td>
				<td>3.1.0</td>
			</tr>
			<tr>
				<td>lxml</td>
				<td>4.6.3</td>
			</tr>
			<tr>
				<td>nodeenv</td>
				<td>1.6.0</td>
			</tr>
			<tr>
				<td>packaging</td>
				<td>20.9</td>
			</tr>
			<tr>
				<td>pdf2image/td>
				<td>1.14.0</td>
			</tr>
			<tr>
				<td>pillow</td>
				<td>8.2.0</td>
			</tr>
			<tr>
				<td>pip</td>
				<td>20.0.2</td>
			</tr>
			<tr>
				<td>pkg-resources</td>
				<td>0.0.0</td>
			</tr>
			<tr>
				<td>pluggy</td>
				<td>0.13.1</td>
			</tr>
			<tr>
				<td>pre-commit</td>
				<td>2.12.1</td>
			</tr>
			<tr>
				<td>py</td>
				<td>1.10.0</td>
			</tr>
			<tr>
				<td>pyDictionary</td>
				<td>2.0.1</td>
			</tr>
			<tr>
				<td>pyparsing</td>
				<td>2.4.7</td>
			</tr>
			<tr>
				<td>pyPDF2</td>
				<td>1.26.0</td>
			</tr>
			<tr>
				<td>pytz</td>
				<td>2021.1</td>
			</tr>
			<tr>
				<td>PyYAML</td>
				<td>5.4.1</td>
			</tr>
			<tr>
				<td>requests</td>
				<td>2.25.1</td>
			</tr>
			<tr>
				<td>setuptools</td>
				<td>44.0.0</td>
			</tr>
			<tr>
				<td>six</td>
				<td>1.16.0</td>
			</tr>
			<tr>
				<td>soupsieve</td>
				<td>2.2.1</td>
			</tr>
			<tr>
				<td>sqlparse</td>
				<td>0.4.1</td>
			</tr>
			<tr>
				<td>toml</td>
				<td>0.10.2</td>
			</tr>
			<tr>
				<td>tox</td>
				<td>3.23.1</td>
			</tr>
			<tr>
				<td>translate</td>
				<td>3.5.0</td>
			</tr>
			<tr>
				<td>urllib3</td>
				<td>1.26.4</td>
			</tr>
			<tr>
				<td>virtualenv</td>
				<td>20.4.6</td>
			</tr>
			<tr>
				<td>wheel</td>
				<td>0.36.2</td>
			</tr>
			<tr>
				<td>youtube-transcript-api   </td>
				<td>0.4.1</td>
			</tr>
		</table>
	
	



{% endblock content %}