{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Langcite</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <script type="text/javascript" src = "{% static 'langImport/js/nav.js' %}"></script>

    <script type="text/javascript" src= "https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    
</head>
<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#"></a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link " aria-current="page" href="{% url 'web-home' %}">Home</a>
		        </li>
		         
		        {% if user.is_authenticated %}
		        	<li class="nav-item">
			          <a class="nav-link" href="{% url 'web-lessons' %}">Lessons</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="{% url 'web-import' %}">Import</a>
			        </li>
		        
		        {% endif %}
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Languages
		          </a>
		          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		            <li><a class="dropdown-item" onclick="langFun('English');">English</a></li>
		            <li><a class="dropdown-item" onclick="langFun('Spanish');">Spanish</a></li>
		            <li><a class="dropdown-item" onclick="langFun('French');">French</a></li>
		            <li><a class="dropdown-item" onclick="langFun('Russian');">Russian</a></li>
		            
		          </ul>
		        </li>
		       
		        <li class="nav-item">
		          <a class="nav-link" href="">About</a>
		        </li>
		       
		        
		      </ul>
		      <div class="d-flex flex-row-reverse m-2" >
		      	{% if user.is_authenticated %}
		      		<a class="btn btn-outline-success me-3" href="{% url 'logout' %}">Logout</a>
			        
			        <div class="dropdown">
					  <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					    {{ user.first_name }}
					  </a>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					    <li><a class="dropdown-item" href="{% url 'web-import' %}">Import</a></li>
					    <li><a class="dropdown-item" href="{% url 'web-lessons' %}">Lessons</a></li>
					    <li><a class="dropdown-item" href="{% url 'web-settings' %}">Settings</a></li>
					  </ul>
					</div>

			        
			          
			       
		      	{% else %}
		      		<a class="btn btn-outline-success me-3" href="{% url 'login' %}">Login</a>
					<a class="btn btn-outline-success me-3" href="{% url 'register' %}">Register</a>
		      	{% endif %}
				
				<a id="targetLanguage" class="nav-link " ></a>
				
			</div>
		    </div>
		  </div>
		</nav>
		
	<div class="container me-auto">
		{% block content %}{% endblock %}
	</div>

	



</body>
</html>