{% extends "langImport/base.html" %}
{% load static %}
{% block content %}

	<div class="container m-5">
<!-- 		<form class="d-flex flex-row-reverse" method=POST action="{% url  'web-home'%}">
	        <input class="form-control me-5" type="search" placeholder="Search" style="width: 300px;" aria-label="Search">
	        <button class="btn btn-outline-success me-5" type="submit">Search</button>
	      </form> -->

	      <div class="mx-auto" style="width: 350px;"><h1 >Public Lessons</h1></div>
	      <!-- Gets the object list from the lesson table in the database
	      		and displays all the lessons that have a public boolean of true -->
	      {% for lesson in object_list %}
		      {% if lesson.public == True %}
		      <div class="card m-auto p-2 mt-5" style="width: 35rem;">
				<h3>{{ lesson.lesson_title }}</h3>


				  <a  href="{% url 'web-read' lesson.pk %}"><img src="{% static 'langImport/img/World.png' %}" class="card-img-top" alt="..."></a>
				  <div class="card-body">
				    <p class="card-text"></p>
				  </div>
				  <small class="text-muted">By : {{ lesson.user_id }}</small><br/>
				  <small class="text-muted">Language : {{ lesson.language_id }}</small><br/>
				  <a class="btn btn-primary" href="{% url 'web-read' lesson.pk %}">Read</a>
			 </div>
	
			{% endif %}
		{% endfor %}
	
	<script type="text/javascript" src="{% static 'langImport/js/home.js' %}"></script>
		

{% endblock content %}