{% extends "langImport/base.html" %}
{% load static %}
{% block content %}
	
	
	<div  role="alert">
	  <p>{{ lessonLang }}</p>
	</div>

	{% if user.is_authenticated %}

		<form class="card m-auto p-5 mt-5 mb-5" style="width: 800px;" method="POST" action="{% url 'web-import' %}" enctype="multipart/form-data">
			{% csrf_token %}
			<h1 class="m-auto mb-3">Create a Lesson</h1>
			<div class="card m-auto mt-3">
			  <div class="card-body" >
			    <p >Author :<input id="authorName" name="authorName" value='{{ user.username }}' style="float: right; border: none;" readonly></input></p>
			    <p >Native  : <input id="userLang" name="userLang" value="" style="float: right; border: none;" readonly>  </input></p>
			    <p>Target  : <input id="lessonLang" name="lessonLang" value="" style="float: right; border: none;" readonly>  </input></p>
			  </div>
			  
			</div>
			<label class="mt-5">Select an import method</label>
			<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
			  <input type="radio" class="btn-check" name="flexRadioDefault" id="flexRadioDefault1" autocomplete="off" value="Image">
			  <label class="btn btn-outline-primary" for="flexRadioDefault1">Image</label>

			  <input type="radio" class="btn-check" name="flexRadioDefault" id="flexRadioDefault2" autocomplete="off" value="Text File">
			  <label class="btn btn-outline-primary" for="flexRadioDefault2"> Text File</label>

			  <input type="radio" class="btn-check" name="flexRadioDefault"id="flexRadioDefault3" autocomplete="off" value="PDF">
			  <label class="btn btn-outline-primary" for="flexRadioDefault3">PDF</label>

			  <input type="radio" class="btn-check" name="flexRadioDefault" id="flexRadioDefault4" autocomplete="off" value="Youtube url">
			  <label class="btn btn-outline-primary" for="flexRadioDefault4">Youtube url</label>
			</div>
			<div>
				<div class="mt-3">
				  <input class="form-control" type="file" id="fileChoice" name="myfile">
				</div>
				<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="ytUrl" name="yturl" value ="" style="display: none; width: 600px;">

			</div>
			<div  style="width: 400px;">
				
				<label class="mt-3">Enter the title of the lesson</label>
				<div class="input-group mt-3">
					<span class="input-group-text" id="inputGroup-sizing-default">Title</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="title" id="lessonName" >
				</div>
		  			  <label class="mt-3">Genre</label>
					  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"  id="genreSelect" name="genre">
						  <option selected></option>
						  <option value="Adventure">Adventure</option>
						  <option value="Drama">Drama</option>
						  <option value="Romance">Romance</option>
						</select>
						<label>Check to make your lesson public</label>
						<div class="form-check mt-3">
						  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="up_public" checked>
						  <label class="form-check-label" for="flexCheckChecked">
						    Public
						  </label>
						</div>
			</div>
			<button type="submit" class="btn btn-primary mt-3"  style="width: 200px;">Create</button>
		</form>
		<div id="result"></div>

	{% else %}
		Unautorized Page!!

	{% endif %}
	<script type="text/javascript" src="{% static 'langImport/js/importPage.js' %}"></script>

{% endblock content %}

