{% extends "langImport/base.html" %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}

	<h1 class="mt-5">Lessons</h1>
	<div class="row row-cols-1 row-cols-md-3 g-4 mt-5 " >

	{% for lesson in object_list %}
		
		{% if user.username == lesson.user_id.username %}

		
			 <div class="col" >
	  	
			    <div class="card h-100  mb-3">
			      <a  href="{% url 'web-read' lesson.pk %}"><img src="{% static 'langImport/img/oldman.jpg' %}" class="card-img-top" alt="..."></a>
			      <div class="card-body">
			        <h5 class="card-title" >{{ lesson.lesson_title }}</h5>
			        <small class="text-muted">By : {{ lesson.user_id }}</small><br/>
			        <small class="text-muted">Language : {{ lesson.language_id }}</small>
			      </div>
			      <div class="card-footer">
			        
			        <a class="btn btn-primary" href="{% url 'web-read' lesson.pk %}">Read</a>
			        <a type="button" class="btn btn-outline-primary" href="{% url 'edit-lesson' lesson.pk %}">Edit</a>
			        <a type="button" class="btn btn-outline-primary" href="{% url 'delete-lesson' lesson.pk %}">Delete</a>
			      </div>
			    </div>
			  </div>
		
		{% endif %}

		
	 
	{% endfor %}
	</div>


{% else %}
	Unauthorized Page!!

{% endif %}

		
<script type="text/javascript" src="{% static 'langImport/js/lessons.js' %}"></script>
{% endblock content %}