{% extends "langImport/base.html" %}
{% load static %}
{% block content %}

{% if lesson.public == False %}
	{% if user.is_authenticated %}
	/////////////////////DOES NOT WORK---CANNOT SAVE COOKIE////////////////
		<script type="text/javascript">
  		  var newJson
		  function setLessonCookie(json){
		  	  newJson =  JSON.stringify('{{ lesson.json_file }}')
			  var d = new Date();
			  d.setTime(d.getTime() + (1*24*60*60*1000));
			  var expires = "expires="+ d.toUTCString();
			  document.cookie = "lesson_json=" + json + ";" + expires + ";path=/";
			  console.log("it worked");
			  
			  console.log("it works here");
		}
		window.onload = (function(){setLessonCookie(newJson)});
		</script>
		///////////////////////

		<h1 class="mt-5">Read</h1>
		<h1>{{  lesson.lesson_title }}</h1>
		<p></p>



	{% else %}
		Unauthorized Page!!

	{% endif %}
{% else %}
	<h1 class="mt-5">Read</h1>
	<h1>{{  lesson.lesson_title }}</h1>
	<p >{{ lesson.json_file }}</p>

{% endif %}

<script type="text/javascript" src="{% static 'langImport/js/read.js' %}"></script>
{% endblock content %}